extends ../index

block content
	h1 Create Size
	if(err)
		.alert.alert-danger.col-md-8.col-md-offset-2= err
	.row.col-md-10
		form.form-horizontal(method="post" action="/cloud/createsize")
			.form-group
				label.control-label.col-sm-2(for="name") Name
				.col-sm-8: input.form-control(type="text" placeholder="Name" name="name" required)
			.form-group
				label.control-label.col-sm-2(for="desc") Description
				.col-sm-8: textarea.form-control(type="text" placeholder="Introduce your description" name="desc" required)
			.form-group
				label.control-label.col-sm-2(for="cpus") Nº CPUs
				.col-sm-8: input.form-control(type="number" placeholder="4" name="cpus" required)
			.form-group
				label.control-label.col-sm-2(for="ram") RAM (Mb)
				.col-sm-8: input.form-control(type="number" placeholder="512" name="ram" required)
			.tex-center.col-md-8.col-md-offset-2
				button.btn.btn-primary(type="submit") Create
				a.btn.btn-warning(href="/cloud/sizes/") Cancel