extends ../layout

block title
	title Users | Create

block content
	.row
		.col-md-12
			h1 Create User
			form(name="create", action="/users/create", method="post", role="form")
				.form-group
					label(for="userName") UserName
					input.form-control(type="text", name="userName")
				.form-group
					label(for="email") Email
					input.form-control(type="email", name="email")
				.form-group
					label(for="password") Password
					input.form-control(type="password", name="password")
				button.btn.btn-primary(type="submit") Save