extends ../layout

block title
	title Users | Index

block content
	h1 User Index
	.row
		.col-md-12
			table.table.table-striped.table-hover
				thead
					tr
						th Id
						th UserName
						th Email
						th Password
						th Actions
				tbody
					- each user in users
						tr
							td= user.id
							td= user.userName
							td= user.email
							td= user.password
							td
								a.btn.btn-xs.btn-primary(href='/users/info/'+user.id): span.glyphicon.glyphicon-eye-open
								a.btn.btn-xs.btn-warning(href='/users/update/'+user.id): span.glyphicon.glyphicon-edit
								a.btn.btn-xs.btn-danger(href='/users/delete/'+user.id): span.glyphicon.glyphicon-trash
			a.btn.btn-primary(href="/users/create") New User
                        
                
