extends ../index

block content
	h1 User Index
	.row
		.col-md-12
			table.table.table-striped.table-hover
				thead
					tr
						th FirstName
						th LastName
						th UserName
						th Email
						th Actions
				tbody
					- each user in users
						tr
							td= user.firstName
							td= user.lastName
							td= user.userName
							td= user.email
							td
								a.btn.btn-xs.btn-primary(href='/users/details/'+user.id): span.glyphicon.glyphicon-eye-open
								a.btn.btn-xs.btn-warning(href='/users/update/'+user.id): span.glyphicon.glyphicon-edit
								a.btn.btn-xs.btn-danger(href='/users/delete/'+user.id): span.glyphicon.glyphicon-trash
			a.btn.btn-primary(href="/users/create") New User