extends ../index

block content
	h1 Log index
	span.text-danger #{msg}
	form(method="POST")
		.form-group
			label(for="userName") UserName:
			input.form-control(type="text" name="userName" placeholder="UserName")
		.form-group
			label(for="password") Password:
			input.form-control(type="password" name="password" placeholder="password")
		input.btn.btn-default(type="submit")