extends ../index

block stylesheets
	link(rel="stylesheet" href="/experiments/css/experiments.css")

block content
	.container
		if errors
			each err in errors
				.alert.alert-danger.col-md-offset-2.col-md-8.text-center(role="alert")= err.message
		.col-md-offset-4.col-md-4.modal-content
			.modal-header: h1(class="text-center") Login
			.moda-body
				form(class="form col-md-12 center-block" method="post")
					.form-group: input(type="username" name="username" class="form-control input-lg" placeholder="username" required)
					.form-group: input(type="password" name="password" class="form-control input-lg" placeholder="password" required)
					.form-group: button.btn.btn-primary.btn-lg.btn-block(type="submit") Sign In
block scripts