doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='MultiCloud is a a scheduler web application developed to manage diferent cloud providers')

		block title
			title Multicloud
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/my.css")
		//if lt IE 9
	body
		.container
			ul.nav.nav-tabs
				li(role="presentation"): a(href="/") Home
				li(role="presentation"): a(href="/users/") Users
				li(role="presentation"): a(href="/cluster/") Cluster
				li.pull-right(role="presentation"): a.btn.btn-default(href="/login/") Log in

			block content

		footer.footer
			.container.text-muted © 2016 University of Castilla - La Mancha.


		script(src='/js/jquery-2.2.0.min.js')
		script(src="/js/bootstrap.min.js")
		script(src="/js/main.js")