div#editor {
	height: 550px;
}

div.treeview {
	max-height: 650px;
	overflow: auto;
	white-space: nowrap;
}

.vertical-align {
	display: flex;
	align-items: center;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: center;
}

form.bordered{
	margin:10px;
	padding: 10px;
	border: 3px solid #74B0C4;
	border-radius: 5px;
}

form.bordered p{
	font-family: cursive,Courier New, Courier, monospace;
	font-size: 14px;
	color: #0098ff;
}

.max-height-650{
	max-height: 650px;
	overflow: auto;
}

.progress, .progress-bar-launch{
    height: 28px;
}
.progress-bar-launch{
	padding: 4px;
}

#map{
height: 600px;
}
