extends ../index

block stylesheets
	link(rel="stylesheet" href="lib/tree-view/css/treeview.css")

block content
	div(ui-view="sidebar")
	div(ui-view="content")

block scripts
	script(type="text/javascript" src="/experiments/js/controllers.js")
	script(type="text/javascript" src="/experiments/js/routes.js")
	script(type="text/javascript" src="/experiments/js/services.js")
	script(type="text/javascript").
		angular.element(document).ready(function() {
			angular.bootstrap(document, ['Experiments']);
		});
	script(type="text/javascript" src="lib/tree-view/js/treeview.min.js")